# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:
    branches: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: 'Build'
    steps:
    - name: Cache Paper(clip) jars
      id: cache-paperclip-jars
      uses: actions/cache@v2
      with:
        path: |
          .paper-nms
          build
          paperclip
          ~/.m2/repository/io/papermc/paper
          ~/.m2/repository/ca/bkaw/paper-nms
          ~/.m2/repository/org/spigotmc/spigot
        key: ${{ runner.os }}-${{ secrets.CACHE_VERSION }}-paperclip
    - name: Download Paperclip jars
      if: steps.cache-paperclip-jars.outputs.cache-hit != 'true'
      run: |
        mkdir -p paperclip
        wget https://papermc.io/api/v2/projects/paper/versions/1.14.4/builds/243/downloads/paper-1.14.4-243.jar -O paperclip/paper-1.14.4.jar
        wget https://papermc.io/api/v2/projects/paper/versions/1.15.2/builds/391/downloads/paper-1.15.2-391.jar -O paperclip/paper-1.15.2.jar
        wget https://papermc.io/api/v2/projects/paper/versions/1.16.1/builds/138/downloads/paper-1.16.1-138.jar -O paperclip/paper-1.16.1.jar
        wget https://papermc.io/api/v2/projects/paper/versions/1.16.3/builds/253/downloads/paper-1.16.3-253.jar -O paperclip/paper-1.16.3.jar
        wget https://papermc.io/api/v2/projects/paper/versions/1.16.4/builds/416/downloads/paper-1.16.4-416.jar -O paperclip/paper-1.16.4.jar
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Generate 1.14 - 1.16 Paper jars
      if: steps.cache-paperclip-jars.outputs.cache-hit != 'true'
      working-directory: paperclip
      run: |
        java -jar paper-1.14.4.jar
        java -jar paper-1.15.2.jar
        java -jar paper-1.16.1.jar
        java -jar paper-1.16.3.jar
        java -jar paper-1.16.4.jar
    - name: Install 1.14 - 1.16 Paper jars
      if: steps.cache-paperclip-jars.outputs.cache-hit != 'true'
      working-directory: paperclip
      run: |
        mvn install:install-file -Dfile=cache/patched_1.14.4.jar -DgroupId="io.papermc" -DartifactId="paper" -Dversion="1.14.4-R0.1-SNAPSHOT" -Dpackaging="jar"
        mvn install:install-file -Dfile=cache/patched_1.15.2.jar -DgroupId="io.papermc" -DartifactId="paper" -Dversion="1.15.2-R0.1-SNAPSHOT" -Dpackaging="jar"
        mvn install:install-file -Dfile=cache/patched_1.16.1.jar -DgroupId="io.papermc" -DartifactId="paper" -Dversion="1.16.1-R0.1-SNAPSHOT" -Dpackaging="jar"
        mvn install:install-file -Dfile=cache/patched_1.16.3.jar -DgroupId="io.papermc" -DartifactId="paper" -Dversion="1.16.3-R0.1-SNAPSHOT" -Dpackaging="jar"
        mvn install:install-file -Dfile=cache/patched_1.16.4.jar -DgroupId="io.papermc" -DartifactId="paper" -Dversion="1.16.4-R0.1-SNAPSHOT" -Dpackaging="jar"
    - name: Set up JDK 21
      uses: actions/setup-java@v1
      with:
        java-version: 21
    - uses: actions/checkout@v2
      name: Checkout code
    - name: Run paper-nms init
      if: steps.cache-paperclip-jars.outputs.cache-hit != 'true'
      run: |
        mvn paper-nms:init -pl nms/1_17_0
        mvn paper-nms:init -pl nms/1_17_1
        mvn paper-nms:init -pl nms/1_18_0
        mvn paper-nms:init -pl nms/1_18_1
        mvn paper-nms:init -pl nms/1_18_2
        mvn paper-nms:init -pl nms/1_19_0
        mvn paper-nms:init -pl nms/1_19_1
        mvn paper-nms:init -pl nms/1_19_2
        mvn paper-nms:init -pl nms/1_19_3
        mvn paper-nms:init -pl nms/1_19_4
        mvn paper-nms:init -pl nms/1_20_0
        mvn paper-nms:init -pl nms/1_20_1
        mvn paper-nms:init -pl nms/1_20_2
        mvn paper-nms:init -pl nms/1_20_3-4
    - name: 'Run BuildTools 1.20.5-1.20.6, 1.21'
      if: steps.cache-paperclip-jars.outputs.cache-hit != 'true'
      run: |
        mkdir -p build
        cd build/
        wget https://hub.spigotmc.org/jenkins/job/BuildTools/lastSuccessfulBuild/artifact/target/BuildTools.jar -O BuildTools.jar
        
        git clone https://hub.spigotmc.org/stash/scm/spigot/bukkit.git Bukkit
        cd Bukkit
        git checkout 304e83eb384c338546aa96eea51388e0e8407e26
        cd ..
        
        git clone https://hub.spigotmc.org/stash/scm/spigot/craftbukkit.git CraftBukkit
        cd CraftBukkit
        git checkout 91b1fc3f1cf89e2591367dca1fa7362fe376f289
        cd ..
        
        git clone https://hub.spigotmc.org/stash/scm/spigot/spigot.git Spigot
        cd Spigot
        git checkout b698b49caf14f97a717afd67e13fd7ac59f51089
        cd ..
        
        git clone https://hub.spigotmc.org/stash/scm/spigot/builddata.git BuildData
        cd BuildData
        git checkout a7f7c2118b877fde4cf0f32f1f730ffcdee8e9ee
        cd ..
        
        java -jar BuildTools.jar --remapped --disable-java-check --dont-update
        java -jar BuildTools.jar --rev 1.20.6 --remapped --disable-java-check
        
        cd Bukkit
        git checkout 2ec53f498e32b3af989cb24672fc54dfab087154
        cd ..
        
        cd CraftBukkit
        git checkout 8ee6fd1b8db9896590aa321d0199453de1fc35db
        cd ..
        
        cd Spigot
        git checkout fb8fb722a327a2f9f097f2ded700ac5de8157408
        cd ..
        
        cd BuildData
        git checkout ae1e7b1e31cd3a3892bb05a6ccdcecc48c73c455
        cd ..
        
        java -jar BuildTools.jar --remapped --disable-java-check --dont-update
        java -jar BuildTools.jar --rev 1.21.1 --remapped --disable-java-check
        java -jar BuildTools.jar --rev 1.21.3 --remapped --disable-java-check
        
        cd ../
    - name: Build with Maven
      run: mvn -B package --file pom.xml
